@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

html {
    scrollbar-gutter: stable;
}

[x-cloak] {
    display: none !important;
}

@theme {
    --spacing: 1px;
    --spacing-100: clamp(3.125rem, 2.5rem + 3.125vw, 6.25rem);
    --spacing-gutter: clamp(1rem, 0.575rem + 2.125vw, 3.125rem);

    --breakpoint-*: initial;
    --container-*: initial;

    --breakpoint-xsm: 450px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1400px;
    --breakpoint-3xl: 1600px;
    --breakpoint-4xl: 1740px;

    --color-brand-50: #FEF4F3;
    --color-brand-100: #FDEAE7;
    --color-brand-200: #FBD8D2;
    --color-brand-300: #F9C2B8;
    --color-brand-400: #F7AC9C;
    --color-brand-500: #F6967F;
    --color-brand-600: #DF6333;
    --color-brand-700: #A84923;
    --color-brand-800: #743015;
    --color-brand-900: #401707;
    --color-brand-950: #2A0D03;

    --color-dark: #323232;

    --color-light: #F6F6F6;

    --color-light-gray: #F8FAFC;

    --color-heading: #0E0E0E;

    --font-poppins: "Poppins", sans-serif;

    --text-14: 14px;
    --text-14--line-height: 1.5;

    --text-18: 18px;
    --text-18--line-height: 1.3;

    --text-20: 20px;
    --text-20--line-height: 1.3;

    --text-28: clamp(1.5rem, 1.45rem + 0.25vw, 1.75rem);
    --text-28--line-height: 1.3;

    --text-36: clamp(1.75rem, 1.65rem + 0.5vw, 2.25rem);
    --text-36--line-height: 1.3;

    --text-40: clamp(2.25rem, 2.2rem + 0.25vw, 2.5rem);
    --text-40--line-height: 1.3;

    --text-48: clamp(2.125rem, 1.95rem + 0.875vw, 3rem);
    --text-48--line-height: 1.3;

    --text-56: clamp(2.25rem, 2rem + 1.25vw, 3.5rem);
    --text-56--line-height: 1.2;

    --transition: all 0.3s ease-in-out;

    --shadow-1: 0 1px 2px 0 rgba(10, 13, 18, .05);

    --shadow-2: 0 2px 4px -1px rgba(0, 0, 0, .06), 0 4px 6px -1px rgba(0, 0, 0, .1);

    --mask-1: linear-gradient(90deg, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);

}

@layer utilities {}

@layer components {
    * {
        @apply scrollbar-thin;
        scrollbar-color: var(--color-brand-600) var(--color-brand-50);
    }

    .container {
        @apply mx-auto px-gutter
    }

    html {
        @apply scroll-smooth;
    }

    .btn.style_1 {
        @apply bg-black text-white py-8 px-16 rounded-full flex gap-8 items-center w-fit justify-center text-center relative overflow-hidden;
    }

    .btn:focus {
        @apply transition-(--transition) outline-none ring-2 ring-offset-2 ring-gray-900
    }

    .marquee_wrapper {
        @apply flex overflow-hidden;
    }

    .marquee_wrapper:hover .marquee {
        animation-play-state: paused;
    }

    .marquee {
        @apply flex min-w-max;
        animation-name: marquee;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 25s;
    }

    @keyframes marquee {
        100% {
            transform: translateX(-100%);
        }
    }

    .topbar .marquee_item {
        @apply mr-30
    }

    .marquee_item {
        @apply flex gap-10 xl:gap-16 items-center mr-30 xl:mr-105
    }

    .badge {
        @apply border text-14 py-3 px-12 rounded-full w-fit block
    }

    .badge.purple {
        @apply bg-purple-50 border-purple-400 text-purple-700
    }

    .badge.green {
        @apply bg-green-50 border-green-400 text-green-700
    }

    .badge.blue {
        @apply bg-blue-50 border-blue-400 text-blue-700
    }

    .badge.yellow {
        @apply bg-yellow-50 border-yellow-400 text-yellow-700
    }
}

@layer base {
    body {
        @apply font-poppins
    }

    button {
        @apply cursor-pointer;
        text-align: inherit;
    }

    .tab_btns button {
        @apply pb-12 relative z-1 text-gray-500 text-20
    }

    .tab_btns button[data-active="true"] {
        @apply text-gray-950
    }

    .tab_btns button::after {
        @apply content-[''] absolute inset-0 -z-1 border-b-2 right-full transition-all duration-500
    }

    .tab_btns button[data-active="true"]::after {
        @apply right-0
    }

    .faq_tab_btns button {
        @apply text-gray-700
    }

    .faq_tab_btns button[data-active="true"] {
        @apply text-gray-950
    }

    select,
    ::picker(select) {
        appearance: base-select;
        top: anchor(bottom);
    }

    select::picker-icon {
        @apply hidden;
    }

    option {
        @apply px-10 py-6 hover:bg-slate-100;
    }

    option::checkmark {
        @apply hidden;
    }

    ::picker(select) {
        @apply bg-slate-50 border-slate-300 mt-4 p-6;
    }

    .free_text .update_date {
        @apply text-28 mb-20
    }

    .free_text p,
    .free_text .ul_wrapper {
        @apply font-light text-gray-700
    }

    .free_text .ul_wrapper {
        @apply flex flex-col gap-12
    }

    .free_text ul {
        @apply list-disc pl-16 md:pl-26 space-y-6 marker:text-xs
    }

    .free_text :is(h2, h3, h4, h5, h6) {
        @apply text-36 mb-20 mt-36 md:mt-56
    }

    .free_text h3 {
        @apply text-28
    }

    .free_text h4 {
        @apply text-20
    }

    .free_text :is(h5, h6) {
        @apply text-18
    }

    .free_text :is(b, strong) {
        @apply font-bold text-heading
    }

    .free_text a {
        @apply text-heading underline font-medium
    }

    .iphone-mock-up {
        mask-image: url(../images/iphone-mask.webp);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
    }

    .iphone-mock-up::after {
        @apply content-[''] absolute bg-[url(../images/iphone-frame.webp)] bg-no-repeat bg-center bg-contain inset-0;
    }
}

.hero_swiper .swiper-pagination-bullet {
    margin: 0 !important;
    border: 1px solid var(--color-gray-950);
    background-color: transparent;
    transition: var(--transition);
    opacity: 1;
}

.hero_swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--color-gray-950);
}

.hero_swiper .swiper-pagination {
    display: flex;
    gap: 6px;
}

.coupons_swiper .swiper-pagination {
    position: static;
    display: flex;
    margin-top: 20px;
}

.coupons_swiper .swiper-pagination-bullet {
    background-color: var(--color-gray-200);
    opacity: 1;
    border-radius: 9999px;
    transition: var(--transition);
}

.coupons_swiper .swiper-pagination-bullet-active {
    background-color: var(--color-gray-950);
    width: 48px;
}